.js {
    .ft-audio {
      display: none;
    }
    
    .ft-audio-player-custom {
      display: block;
    }
    
    .ft-audio-player-custom-accessible {
      margin-top: 2em;
    }
    
    .ft-label-accessible, .ft-slider-accessible {
      display: block;
      width: 100%;
      margin: 1em 0 0.5em 0;
    }
    
    .ft-return-to-svg {
      color: white;
    }
    
    // Buttons styling

    // .ft-audio-player-custom-info-text {
    //   fill:#CCCCCC;
    //   font-size:18px;
    // }
    // 
    // General styling
    .ft-audio-player-custom-btn, .ft-audio-player-custom-btn-small {
      stroke:white;
      stroke-width:8;
      stroke-miterlimit:10;
    }
    
    .ft-audio-player-custom-btn-small {
      stroke-width:6;
    }
    // Play button
    .ft-audio-player-custom-btn-play-centre {
      fill:$lime-green;
    }
    
    .ft-audio-player-custom-btn-play-text {
      // text-align: center;
      // text-anchor: end;
      fill:$slate-grey;
      font-size:80px;
      background: red;
    }
    
    .ft-audio-player-custom-btn-play-icon-play, .ft-audio-player-custom-btn-time-centre {
      fill:$dark-blue;
    }
    
    .ft-audio-player-custom-btn-time-arrow {
      fill: white;
    }
    
    .ft-audio-player-custom-btn-play-outline {
      fill: none;
      stroke: red;
    }
    
    .ft-audio-player-custom-btn-time-border {
      fill:none;
    }
    
    // Reset button
    .ft-audio-player-custom-btn-reset-centre {
      fill: $lovely-red;
    }
    
    .ft-audio-player-custom-btn-reset-arrow {
      fill: white;
    }
    
    .ft-audio-player-custom-btn-reset-curve {
      fill: none;
      stroke: white;
      stroke-width:5;
      stroke-miterlimit:10;
    }
    
    
    // Buttons positioning
    
    // Play button
    .pg-clients-2015-pg-projects-fartlet-button-play-svg, .pg-clients-2015-pg-projects-fartlet-button-play-svg-2 {
      width: 65vw;
      height: 65vw;
      position: absolute;
      left: 5vw; // width/2
      bottom: 20px;
      // background: red;
    }
    
    // .pg-clients-2015-pg-projects-fartlet-button-play-svg-2 {
    //   left: 28vw;
    //   bottom: 10px;
    // }
    // Reset button
    // 
    .pg-clients-2015-pg-projects-fartlet-button-reset-svg {
      width: 18vw;
      height: 18vw;
      position: absolute;
      right: 18vw; // width/2
      bottom: 20px;
      // background: red;
    }
    
    // Sets buttons
    .clients-2015-pg-projects-fartlet-button-sets-svg {
      width: 42vw;
      height: 42vw;
      position: absolute;
      right: 5vw; // width/2
      bottom: 114px;
    }
    


    @media all and (orientation: landscape) { 

      .pg-clients-2015-pg-projects-fartlet-button-play-svg {
          width: 70vh;
          height: 70vh;
          right: 20px;
          left: calc(78vw - 70vh);
          bottom: -10px;
      }
      
      .pg-clients-2015-pg-projects-fartlet-button-reset-svg {
        width: 25vh;
        height: 25vh;
        // left: 18vw; // width/2
        left: 10px; // width/2
        bottom: 13px;
        // background: red;
      }
      
      .clients-2015-pg-projects-fartlet-button-sets-svg {
        width: 62vh;
        height: 62vh;
        right: 0px; // width/2
        bottom: 14px;
      }
      
    }

}
