// Hide by default (if no JavaScript, can't use anyway!)
.ft-skip-to-player {
  display: none;
}

.js {
    .ft-skip-to-player {
      display:block;
      padding: 10%;
      width: 80%;
      position: absolute;
      top: -17em;
      left: 0;
      color: white;
      background: black;
      transition: top .5s ease-in;
      z-index: 100;
      font-size: 2em;
    }

    .ft-skip-to-player:focus {
        position: absolute;
        top: 0;
        outline: 0;
        transition: top .3s ease-in;
  }
}