/* Information button and tooltip style dialogue with content. */

.ft-button-information {
  position: absolute;
  top: $ft-title-height - ($ft-buttons-smallest-diameter/2); //65 - 44/2
  right: 8px;
  margin: 0 auto;
  width: $ft-buttons-smallest-diameter;
  height: $ft-buttons-smallest-diameter;
  font-size: 1.5em;
  border-radius: 50%;
  color: #fff;
  background-color: #085390;
  border: none;
  z-index: 1;
  outline: none;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.ft-button-information:active {
  background-color: #1565C0;
}

.ft-button-information:focus {
  background-color: #1565C0;
}

.js .ft-button-information-close {
  background: #FF5722;
  transform: rotate(180deg);
}

.ft-information {
  color: #fff;
  margin: 1em 0;
  background: $info-blue;
  padding: 1em  1em 0.5em 1em;
  border-radius: ($ft-buttons-smallest-diameter/2);
  border-top-left-radius: 0;
}

// Need to hide the container and position it if JS is available.
.js {
  .ft-information {
    // color: red;
    width: 80%;
    position: absolute;
    top: 25px;
    right: 8px;
  }
}

@media (min-width: 200px) {
  
  .ft-button-information {
    
  }
  
}