/**
* Player controls
*/

// Hide native audio player if has js for custom controls
.js .ft-audio {
  display: none;
}

// If JS only is available, show basic buttons
.js .ft-audio-player-custom-accessible {
    display: block;
}

// If JS and inline svg are available, hide basic buttons and show SVG interface
.js.inlinesvg .ft-audio-player-custom-accessible {
    display: none;
}

.js.inlinesvg .ft-audio-player-custom {
    display: block;
}


/**
 * Information button.
 */

.ft-button-information {
  display: none;
}

// Show if no svg for accessible buttons
// Could use js modernizr object but prefer to keep
// all showing and hiding in one place.
.js .ft-button-information {
    display: block;
}

// replace button with SVG button
.js.inlinesvg .ft-button-information {
    display: none;
}