// Colours

$sky-blue: #BBDEFB;
$lime-green: #8BC34A;
$dark-blue: #085390;
$slate-grey: #26292C;
$shock-yellow: #ff0;
$bright-orange: #FF9C00;
$sexy-pink: #f3f;

// ft-buttons
$ft-buttons-smallest-diameter: 66px;
$ft-buttons-play-diameter: 132px;

// ft-title
$ft-title-height: 65px;
$ft-title-margin-bottom: 22px;
