body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #333;
  background: #CDDC39;
  background: #8BC34A;
}

h1 {
  text-align: center;
  font-style: italic;
}

.ft-header {
  background: #BBDEFB;
}

// https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/site.css
//
/**
 * Fix the player to bottom of page so easy access with thumbs.
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */
.ft-container-main {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  height: 100%; /* 1, 3 */
}

.ft-content {
  margin: 0 auto;
  flex: 1;
  width: 90%;
}

.ft-header,
.ft-audio-player {
  flex: none; /* 2 */
}
// Increase size of native player to make buttons easier to hit.
.ft-audio-player {
  flex: none;
  background: #E6EE9C;
  transform: scaleY(2);
}
// Add a stupid fart emoji to title for shit and giggles.
.ft-emoji-fart:before {
  content: "\01F4A8";
  speak: none;
  display: inline-block;
  transform: scaleX(-1) skewX(30deg);;
  padding-left: 5px;
  margin-left: -15px;
}
// Centre native audio player
.ft-audio {
  display: block;
  margin: 0 auto;
}
// Set native to visible by default.
.ft-audio-player {
  display: block;
}
// Hide native player if javascript is enabled.
.js .ft-audio-player {
  display: none;
}
// Position native player
[controls] {
  width:90%;
  background: #E6EE9C;
  margin:.75em auto;
}
// Hide some text (as features not available without javascript) and custom player controls if no JS present
.ft-has-js, .ft-audio-player-custom {
  display: none;
}
// Show some text if js available
.js .ft-has-js {
  display: inline;
}

.ft-audio-player-custom {
  display: none;
}
// Show custom player if js available.
.js .ft-audio-player-custom {
  display: block;
}